.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    fill: var(--inverted-secondary-color);
    flex-shrink: 0;
}

.link {
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    transition:
        opacity 0.5s,
        width 0.5s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .link {
        width: 0;
        opacity: 0;
    }
}
