.app_dark_theme {
    --bg-color: #2a2a2a;
    --inverted-bg-color: #c7c7c7;
    --primary-color: rgb(214 210 135);
    --secondary-color: rgb(156 216 156);
    --inverted-primary-color: rgb(0 21 78);
    --inverted-secondary-color: rgb(34 53 59);
}
