.app.light {
  --bg-color: #9494ac;
  --inverted-bg-color: #06060d;

  --primary-color: rgb(0, 21, 78);
  --secondary-color: rgb(108, 206, 233);
  --inverted-primary-color: rgb(214, 210, 135);
  --inverted-secondary-color: rgb(156, 216, 156);
}
