.app_red_theme {
    --bg-color: #f8f1f1;
    --inverted-bg-color: #2a1a1a;
    --primary-color: #d85454;
    --secondary-color: #e68a8a;
    --inverted-primary-color: #ffb6b6;
    --inverted-secondary-color: #f0d6d6;
}
